{% extends "users/base.html" %}
{% block head %}

<title>Updates - MailTracc</title>

{% endblock %}


{% block content %}
<p><span style="font-size: 30px;">Update Log</span></p>
<p><span style="font-size: 18px;">* Alpha 1.1 *</span></p>
<p><span style="font-size: 18px;">- Privacy Policy</span></p>
<p><span style="font-size: 18px;">- Cookie Polivy</span></p>
<p><span style="font-size: 18px;">- Still requires an&nbsp;</span><a href="http://bit.ly/mailtracc"><span style="font-size: 18px;">application</span></a><span style="font-size: 18px;">&nbsp;to join alpha.</span></p>
<p><span style="font-size: 18px;">- Able to delete trackers</span></p>
<p><span style="font-size: 18px;">* Alpha 1.2 *</span></p>
<p><span style="font-size: 18px;">- Overhauled tracker create interface</span></p>
<p><span style="font-size: 18px;">- New settings page</span></p>
<p><span style="font-size: 18px;">- Sign up form</span></p>
<p><span style="font-size: 18px;">- Open Alpha.</span></p>
<p><span style="font-size: 18px;">- Tracker purchase changed.</span></p>
{% endblock %}
