{% extends "users/base.html" %}
{% block head %}

<script>
var citycoords = [
      {lat: 37.93414, lng: -121.696744},
      {lat: 37.739651, lng: -121.425223},
      {lat: 34.07029, lng: -117.39588},
    ];




</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://drive.google.com/u/0/uc?id=11JesvLQ1f26t1NTxWZ9bOBtfljPcAT3b&export=download"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDqnp6pMLMRFay4CsA_EUouQXNSYUlBxDU&callback=initMap"
        async defer></script>
<link rel="stylesheet" href="https://drive.google.com/u/0/uc?id=1NBQ8dZr3hltfId5oijyZjZ4snbAHfYeR&export=download">
<title>{{ dataElement.name }} detail - MailTracc</title>

{% endblock %}


{% block content %}
<div class="container">

    <!--    Status Bar    -->
    <div class="row">


        <div class="container px-1 px-md-4 pt-5 mx-auto">
            <div class="card">
                <div class="row d-flex justify-content-between px-3 top">
                    <div class="d-flex">
                        <h5>{{ dataElement.name }}<span class="text-primary font-weight-bold"></span></h5>
                    </div>
                    <div class="d-flex flex-column text-sm-right">
                        <p class="mb-0"><span>{{ dataElement.est_deliv_date }}</span></p>
                        <p>{{ dataElement.carrier }} <span
                                class="font-weight-bold">{{ dataElement.tracking_number }}</span></p>
                    </div>
                </div> <!-- Add class 'active' to progress -->
                <div class="row d-flex justify-content-center">
                    <div class="col-12">
                        <ul id="progressbar" class="text-center">
                            <li class="{{ dataElement.shipped }} step0"></li>
                            <li class="{{ dataElement.transit }} step0"></li>
                            <li class="{{ dataElement.delivery }} step0"></li>
                            <li class="{{ dataElement.delivered }} step0"></li>
                        </ul>
                    </div>
                </div>
                <div class="row justify-content-between top">
                    <div class="row d-flex icon-content"><img class="icon" src="https://i.imgur.com/9nnc9Et.png">
                        <div class="d-flex flex-column">
                            <p class="font-weight-bold">Order<br>Shipped</p>
                        </div>
                    </div>
                    <div class="row d-flex icon-content"><img class="icon" src="https://i.imgur.com/u1AzR7w.png">
                        <div class="d-flex flex-column">
                            <p class="font-weight-bold">Order<br>In Transit</p>
                        </div>
                    </div>
                    <div class="row d-flex icon-content"><img class="icon" src="https://i.imgur.com/TkPm63y.png">
                        <div class="d-flex flex-column">
                            <p class="font-weight-bold">Order<br>Out For Delivery</p>
                        </div>
                    </div>
                    <div class="row d-flex icon-content"><img class="icon" src="https://i.imgur.com/HdsziHP.png">
                        <div class="d-flex flex-column">
                            <p class="font-weight-bold">Order<br>Delivered</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div id="mapcon" class="row px-1 px-md-4" style="height:30rem; width:100%%;">
        <div id="map"></div>
    </div>

    <div class="row px-1 px-md-4" style="width:100%%;">
        <button class="card col" id="togglemap" type="button" onclick="changeText()" style="width: 100%;">Show Map</button>
    </div>

    <div>
    </div>


    <div class="row px-1 px-md-4">

        <div class="card col p">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Location</th>
                    <th scope="col">Activity</th>
                </tr>
                </thead>
                <tbody>
                {% for e in events %}
                <tr>
                    <td>{{ e.date }}, {{ e.time }}</td>
                    <td>{{ e.location }}</td>
                    <td>{{ e.message }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
$(document).ready(function(){

  $("#togglemap").click(function(){
    $("#mapcon").slideToggle();
  });
});


</script>
{% endblock %}
